.TabPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.DivLine {
    border-bottom: solid 1px black;
}

h2 {
    text-align: center;
  }

h3 {
    text-align: center;
}

.for_img{
    width: 200px;
    height: 200px;
}

.for_cateimg{
    width: auto;
    height: 300px;
    margin: 10px;
}