{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<br>
  <h2>영화 정보 상세</h2>
  {% comment %} <a href="{% url 'movies:index' %}" class="btn btn-secondary btn-sm m-1">인덱스로 돌아가기</a> {% endcomment %}
  <hr>
  <h3><b>{{ movie.title }}</h3></b>
  <h5>작성자: {{movie.user_id}}</h5>
  <br>
  <p>{{ movie.description }}</p>




  <div class="d-flex">
    {% if user == movie.user_id %}
      <a href="{% url 'movies:update' movie.pk %}" class="btn btn-outline-primary btn-sm m-1">영화 정보 수정</a>
      <form action="{% url 'movies:delete' movie.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="영화 정보 삭제" class="btn btn-outline-danger btn-sm m-1">
      </form>
    {% endif %}
    
  </div>
  <hr>
  <h4> 댓글 </h4>
  {% comment %} {% if comments %}
    <p><b>{{ comments|length }}개의 리뷰가 있습니다.</b></p>
  {% endif %} {% endcomment %}
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user_id }} - {{ comment.content }}
        {% if user == comment.user_id %}
          <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <li> 첫번째 댓글을 남겨주세요! </li>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" value="댓글 남기기" class="btn btn-outline-primary btn-sm">
    </form>
    
  {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-success btn-sm">리뷰를 작성하려면 로그인하세요.</a>
  {% endif %}
{% endblock content %}
