.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #dde0ea;
}   

.wrapper {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 30px;
}